<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's The Spot!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <h1>What's The Spot!</h1>
        <nav>
            <a href="/user">User</a>
        </nav>
    </header>
    <img src="/uploads/1728236781143.png" alt="What's The Spot Logo" class="logo">
    <div class="container">
        <div>
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/signup'">Sign Up</button>
        </div>
    </div>
    <footer>
        <a href="https://github.com/MartyV33/Whats-The-Spot.git" target="_blank">GitHub</a>
        <a href="/README" target="_blank">README</a>
    </footer>
</body>
</html>