body {
    font-family: Georgia, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    background-color: #2f492f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x:hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid whitesmoke;
}
header h1 {
    font-size: 1.5em;
    color: tan;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
    border: 2px solid tan;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #254117;
    margin: 0;
}

nav a {
    color: tan;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkolivegreen;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 60px;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: whitesmoke;
    color:#333;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    color:#fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid whitesmoke;
}

/* Trails page styles */

.trails-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}

.trails-page .page-header {
    font-size: 2.5em;
    color: tan;
    background-color: darkolivegreen;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
    border: 3px solid tan;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.trails-page .add-trail-button {
    background-color: tan;
    color:black;
    border:none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.trails-page .add-trail-button:hover {
    background-color: #555;
}

.trails-page .trail-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.trails-page .trail-item {
    background-color: tan ;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
}

.trails-page .trail-item h2 {
    margin-top: 0;
}

.trails-page .trail-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.trails-page .trail-form label {
    margin-top: 10px;
    font-weight: bold;
}

.trails-page .trail-form input,
.trails-page .trail-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.trails-page .trail-form button {
    background-color: darkolivegreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.trails-page .trail-form button:hover {
    background-color: #555;
}

.user-button {
    margin-left: auto;
}

/* Trail Details Page*/
.trail-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    background-color: #7CB342;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rbga(0,0,0, 0.1);
    margin-bottom: 20px;
}

.trail-details p {
    font-size: 1.2em;
    margin:10px 0;
}

.trail-details p strong {
    color:#333;
}

.trail-details img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* Trail Actions Styles*/
.trail-action {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
}

.trail-action .button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: blue;
    color: #fff;
    text-decoration:none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.trail-actions .button:hover {
    background-color: gray;
}

.trail-action .delete-button {
    background-color: darkolivegreen;
}

.trail-actions .delete-button:hover {
    background-color: gray;
}

.button {
    background-color: whitesmoke;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.add-trail-button {
    background-color: darkgreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    z-index: 1;
}

.trail-item p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.logo {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 100px auto 1px auto;
}

.trail-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: tan;
    max-width: 825px;
}

.trail-image {
    max-width: 100%;
    max-height: auto;
    margin-right: 16px;
    border-radius: 8px;
}

.trail-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: tan;
    padding: 16px;
    border-radius: 8px;
    margin-top: 10px;
}

.trail-details h2 {
    margin: 0;
    font-size: 1.5em;
}

.trail-details p {
    margin: 4px 0;
}

.delete-button {
    background-color: whitesmoke;
    color: black;
    border:#333;
    padding: 10px 20px;
    margin-top: 1px;
    margin-bottom: 25px;
    margin-right: auto;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: gray;
}

.edit-button {
    background-color: whitesmoke;
    color: black;
    border:#333;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 1px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

.edit-button:hover {
    background-color: gray;
}

.profile-container {
    display: flex;
    align-items: center;
    background-color: tan;
}